<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>thumb</key>
		<string>http://vyksa.org/photos/thumb_39cb735ca7883dd6d0033b6bbda8b81d.jpg</string>
		<key>town</key>
		<string>Выкса</string>
		<key>name</key>
		<string>Петр</string>
		<key>telephone</key>
		<string>+79506286894</string>
		<key>site</key>
		<string></string>
		<key>title</key>
		<string>Продам самый длинный заголовок на свете</string>
		<key>comment</key>
		<string>Продам самый длинный заголовок на свете</string>
		<key>price</key>
		<integer>1500500</integer>
		<key>view_count</key>
		<integer>0</integer>
		<key>meta</key>
		<string>meta here</string>
		<key>publishedon</key>
		<date>2014-01-21T18:25:58Z</date>
	</dict>
	<dict>
		<key>town</key>
		<string>Выкса</string>
		<key>name</key>
		<string>Екатерина</string>
		<key>telephone</key>
		<string>+79506286894</string>
		<key>site</key>
		<string></string>
		<key>title</key>
		<string>Продается дом 2 на 2 с половиной</string>
		<key>comment</key>
		<string>Продам самый длинный заголовок на свете</string>
		<key>price</key>
		<integer>750000</integer>
		<key>view_count</key>
		<integer>0</integer>
		<key>meta</key>
		<string></string>
		<key>publishedon</key>
		<date>2014-01-21T18:26:01Z</date>
		<key>thumb</key>
		<string>http://vyksa.org/photos/thumb_b75597ce6efe36ff1e1e2824bfe72f5e.jpg</string>
	</dict>
</array>
</plist>
